<template>
  <div id="controls" class="param">
    <div class="control" id="combobox1">
      <ComboBox
        selector_title="Pattern"
        selector_name="pattern"
        :selector_options="['complex', 'simple']"
        selector_id="combo1"
        :option="store.pattern"
        ref="combo1"
      />
    </div>
    <div class="control" id="combobox2">
      <ComboBox
        selector_title="Hand"
        selector_name="hand"
        :selector_options="['left', 'right']"
        selector_id="combo2"
        :option="store.arm"
        ref="combo2"
      />
    </div>
    <div class="control" id="speedslider">
      <SpeedSlider />
    </div>
    <div @click="showHint" class="control" id="aid">
        <h2>Hint</h2>
        <font-awesome-icon 
        icon="fa-solid fa-circle-info"
        size="4x"
        />
    </div>
    <div v-show=new_model id="vision_validation">
        <div class="control" id="validate_pb">
          <PushButton name="Plan Next Act" color="green" />
      </div>
    </div>
    <div v-show=!new_model id="vision_none">
        <div class="control" id="none_pb">
          <PushButton name="......................" color="gray" />
      </div>
    </div>
    <div class="control" id="startstop">
      <StartStopButton ref="ss_button" />
    </div>
  </div>
</template>

<script lang="js">
import { store } from '../js/store.js';
import ROSInterface from "../js/ROSInterface";
import ComboBox from '../components/ComboBox.vue';
import StartStopButton from '../components/StartStopButton.vue';
import SpeedSlider from '../components/SpeedSlider.vue';
import PushButton from '../components/PushButton.vue';

export default {
    name: "ControlsView",
    data() {
        return {
            store,
            iface_: new ROSInterface(),
            new_model: false,
            lego_map_msg: "",
        };
    },
    components: {
        ComboBox,
        StartStopButton,
        SpeedSlider,
        PushButton
    },
    created() {
        this.emitter.on('lock-combobox', (event) => {
            if (event.id === "combo1") {
                this.$refs.combo1.disabled = true;
                store.pattern = event.value;
            }
            else if (event.id === "combo2") {
                this.$refs.combo2.disabled = true;
                store.arm = event.value;
            }
        });
        this.emitter.off('lock-combobox', (event) => {
            if (event.id === "combo1") {
                this.$refs.combo1.disabled = true;
                store.pattern = event.value;
            }
            else if (event.id === "combo2") {
                this.$refs.combo2.disabled = true;
                store.arm = event.value;
            }
        });

        this.emitter.on('pb-clicked', (evt) => {
            this.new_model = false;
            if (evt.name === "Plan Next Act") {
                store.vision_val_ = true;
            }
            this.validate(store.vision_val_);
        });

    },
    mounted() {
        this.init();
        this.subscribeModel();
    },
    methods: {
        init() {
            this.rate = 10; // 10hz
            this.interval = setInterval(this.publish, 1000 / this.rate);
            /**
             * Topics
             */
            // Start Stop Publisher
            this.start_signal_topic = this.iface_.createTopic(
                "/start_signal",
                "std_msgs/Bool"
            );
            // User Arm Topic
            this.arm_topic = this.iface_.createTopic(
                "/user_arm",
                "std_msgs/String"
            );
            // Pattern Topic
            this.pattern_topic = this.iface_.createTopic(
                "/pattern",
                "std_msgs/String"
            );
            // Speed Topic
            this.speed_topic = this.iface_.createTopic(
                "/speed",
                "std_msgs/Int16"
            );
        },
        publish() {
            //
            let start_signal__msg_ = this.iface_.createMessage({ data: store.robot_can_move });
            this.start_signal_topic.publish(start_signal__msg_);
            //
            if (store.arm !== null) {
                let arm_msg_ = this.iface_.createMessage({ data: store.arm });
                this.arm_topic.publish(arm_msg_);
            }
            //
            if (store.pattern !== null) {
                let pattern_msg_ = this.iface_.createMessage({ data: store.pattern });
                this.pattern_topic.publish(pattern_msg_);
            }
            //
            let speed_msg_ = this.iface_.createMessage({ data: Number(store.robot_speed) });
            this.speed_topic.publish(speed_msg_);
        },
        async validate(val) {
            const service_name = "/validate_vision_info";
            const service_type = "std_srvs/SetBool";

            this.iface_ = new ROSInterface();
            await this.iface_
                .callService_(service_name, service_type, { data: val })
                .then((result) => {
                    return result;
                }).catch(e => {
                    console.log(e);
                });

        },
        
        changeLegoMap(msg) {
            if (this.lego_map_msg.localeCompare(msg) != 0) {
                this.lego_map_msg = msg;
                this.lego_map = JSON.parse(msg);
                let cnt = Object.keys(this.lego_map).length;
                if (store.robot_can_move) {
                    if (store.pattern == 'simple' && cnt === 8) {
                        this.new_model = true;
                    }
                    else if (store.pattern == 'complex' && cnt === 21) {
                        this.new_model = true;
                    }
                }
                
            }
        },

        subscribeModel() {
            this.iface_.subscriber(
                "/lego_map",
                "std_msgs/String",
                this.changeLegoMap
            );
        },

        showHint(){
            this.emitter.emit('show-hint');
        }
    }
}
</script>

<style>
@import "../style/css/ControlsView.css";
</style>
