<template>
  <div id="container">
    <div id="arms" class="view">
      <div id="lefthand" :class="left_arm_style">
        <img src="../assets/left-hand.png" />
        <p>Left</p>
      </div>
      <div id="righthand" :class="right_arm_style">
        <img src="../assets/right-hand.png" />
        <p>Right</p>
      </div>
      <div id="hand" v-if="hand">
        <img src="../assets/hand.png" />
    </div>
    <div id="five-stars">
      <!-- https://stackoverflow.com/a/75547200 -->
      <font-awesome-icon 
        v-for="i in 5" 
        :key="i" 
        icon="fa-solid fa-star"
        :style="{color: `${i < store.planning_level ? 'yellow' : 'gray'}`}"
        size="3x"
      />
      <h2>Levels Completed</h2>
    </div>
    <div v-if="store.empty_plan && !store.assembly_finished && store.robot_can_move" id="robot-stock">
      <h2 >Robot can't help for now!</h2>
    </div>
    </div>
    <SceneControls
      @rotate-cam="rotateCamera"
      @reset-cam="resetCamera"
      @zoom-cam="zoomCamera"
    />
  </div>
</template>

<script>
import SceneCreator from "../js/SceneCreator.js";
import { createBase, drawArrow } from "../js/ModelCreator.js";
import SceneControls from "../components/SceneControls.vue";
import VisionInterface from "../js/VisionInterface.js";
import { PickPlace } from "../js/SpecialEffects.js";
import { store } from "../js/store";

export default {
  name: "ThreeScene",
  data() {
    return {
      pick_pos: null,
      place_pos: null,
      action_id: null,
      size: 2,
      hand: false,
      hint_counter: 0,
      store,
    };
  },

  created() {

    this.emitter.on("choose-action", (evt) => {
      this.pick_pos = evt.pick_pos;
      this.place_pos = evt.place_pos;
      this.action_id = evt.action_id;
      this.size = evt.size;
      drawArrow(this.scene, this.pick_pos, this.place_pos, this.size);
    });

    this.emitter.on("action-execution", (evt) => {
      console.log("Act Exec", evt);
      new PickPlace(
        this.renderer,
        this.scene,
        this.camera,
        evt.lego,
        evt.place_pos,
        evt.rot_
      );
    });

    this.emitter.on("hand-detected", (evt) => { this.hand = evt.hand });
    this.emitter.off("hand-detected", (evt) => { this.hand = evt.hand });

    this.emitter.on("show-hint", () => { this.showHumanActions(); });
    this.emitter.off("show-hint", () => { this.showHumanActions(); });
  },

  mounted() {
    this.init();
  },

  methods: {
    init() {
      this.container = document.getElementById("container");
      const sceneCreator_ = new SceneCreator(this.container);
      this.scene = sceneCreator_.getScene();
      this.camera = sceneCreator_.getCamera();
      this.renderer = sceneCreator_.getRenderer();
      createBase(this.scene);

      const vision_iface_ = new VisionInterface(this.emitter);
      vision_iface_.init(this.renderer, this.scene, this.camera);
      vision_iface_.updateLegos();
    },

    resetCamera() {
      this.scene.rotation.set(0, 0, 0);
      this.camera.position.set(0.1, 10, 10);
    },

    rotateCamera(rx, ry) {
      let new_rot_x;
      let new_rot_y;
      let new_rot_z;
      new_rot_x = this.scene.rotation.x + rx;
      new_rot_y = this.scene.rotation.y + ry;
      new_rot_z = this.scene.rotation.z;
      this.scene.rotation.set(new_rot_x, new_rot_y, new_rot_z);
    },

    moveCamera(dx, dz) {
      let new_pos_x = this.camera.position.x + dx;
      let new_pos_y = this.camera.position.y;
      let new_pos_z = this.camera.position.z + dz;
      this.camera.position.set(new_pos_x, new_pos_y, new_pos_z);
    },

    zoomCamera(away = false) {
      let new_pos_x;
      let new_pos_y;
      let new_pos_z;
      if (!away) {
        new_pos_x = this.camera.position.x;
        new_pos_y = this.camera.position.y + 2.5;
        new_pos_z = this.camera.position.z + 1.25;
        this.camera.position.set(new_pos_x, new_pos_y, new_pos_z);
      } else {
        new_pos_x = this.camera.position.x;
        new_pos_y = this.camera.position.y - 2.5;
        new_pos_z = this.camera.position.z - 1.25;
        this.camera.position.set(new_pos_x, new_pos_y, new_pos_z);
      }
    },
    
    showHumanActions() { 
      this.human_actions = [];
      let plan = [];
      plan = JSON.parse(JSON.stringify(store.plan));

      console.log("Plan From Hints", plan);

      for (let act_id in plan) {
        // if (plan[act_id].actor == 'operator' && plan[act_id].status == "pending") {
          if (plan[act_id].actor == 'operator') {
            let act = plan[act_id];
          
        this.human_actions.push(act);
        }
      }
      if (this.human_actions.length > 0) {

        if (this.hint_counter >= this.human_actions.length) {
          this.hint_counter = 0;
        }
    
        drawArrow(this.scene, this.human_actions[this.hint_counter].pick, this.human_actions[this.hint_counter].place, this.human_actions[this.hint_counter].size);
        this.hint_counter += 1;

      }
      else { 
        console.log("Can't Show Hints, Plan is Empty!")
      }
    },
  },

  computed: {
    left_arm_style() {
      if (store.robot_motion_status === true && store.arm === "left") {
        return "blink_bg";
      } else {
        return "normal_bg";
      }
    },
    right_arm_style() {
      if (store.robot_motion_status === true && store.arm === "right") {
        return "blink_bg";
      } else {
        return "normal_bg";
      }
    },
    simple() {
      return store.pattern === "simple";
    },
    complex() {
      return store.pattern === "complex";
    },
  },
  components: {
    SceneControls,
  },
};
</script>

<style>
@import "../style/css/ThreeScene.css";
</style>
