#controls{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    user-select: none;
}

.param{
    overflow: hidden;
    border: solid;
    border-color: #353232;
    background-color: #474444;
}

#combo1{
    position: relative;
    padding: 15px;
    margin: 15px;
}

#combo2{
    position: relative;
    padding: 15px;
    margin: 15px;
}

#speedslider{
    position: relative;
    /* padding: 15px;
    margin: 15px; */
}

#startstop{
    position: relative;
    padding: 15px;
    margin: 15px;
}

#vision_validation{
    display: inline-block;
    border: solid #cae453;
    border-radius: 25px;
    padding: 0;
    margin: 0;
    padding-bottom: 15px;
    text-align:center;
    min-height: 60%;
    background-color: #bcea31;
}
#vision_validation h3{
    color: #43f549;
}

#validate_pb{
    margin-top: 10px;
}

#validate_pb .push-button:hover {background-color: #3e8e41}
  
#validate_pb .push-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#vision_none{
    display: inline-block;
    border-radius: 25px;
    padding: 0;
    margin: 0;
    padding-bottom: 15px;
    text-align:center;
    min-height: 60%;
    background-color: #474444;
}

#none_pb{
    margin-top: 10px;
}

#none_pb .push-button:hover {background-color: gray}
  
#none_pb .push-button:active {
  background-color: gray;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#aid{
    position: relative;
    display: inline-block;
    border: solid skyblue;
    border-radius: 10px;
    /* background-color: #cae453; */
    text-align: center;
    padding: 10px;
    color: skyblue;
}

#aid:hover {
    background-color: gray;
    cursor: pointer;
}

#aid h2{
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}