:root {
  --main-bg-color: green;
  --bg-color: brown;

}

.push-button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: var(--main-bg-color);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
  }
  
  /* .push-button:hover {background-color: var(--bg-color)}
  
  .push-button:active {
    background-color: var(--bg-color);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  } */